<nav class="nav navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a [routerLink]="['/']" style="cursor: pointer;" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shoppinglist']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li appDropdown class="dropdown">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveDataClicked()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchDataClicked()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
