<div class="panel panel-info">
    <div class="panel panel-heading">Recipe List Component</div>
    <div class="panel-body">
        <div class="row">    
            <div class="col-xs-12">
                <button class="btn btn-success">New Recipe</button>
            </div>
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel panel-heading">Recipe Item Components List</div>
            <div class="panel-body">
              <div class="row"  *ngFor="let recipe of recipes">    
                 <!-- <app-recipe-item [recipe]="recipe" (click)="recipeItemClicked(recipe)"></app-recipe-item> -->
                 <a  [routerLink]="['/recipes/recipedetail', recipe.id]"><app-recipe-item [recipe]="recipe" routerlinkActive="active"></app-recipe-item></a>
              </div>
            </div>    
        </div>
    </div>
</div>