<div class="panel panel-info">
    <div class="panel panel-heading">Recipe List Component</div>
    <div class="panel-body">
        <div class="row">    
            <div class="col-xs-12">
                <a [routerLink]="['new']"><button class="btn btn-success">New Recipe</button></a>
            </div>
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel panel-heading">Recipe Item Components List</div>
            <div class="panel-body">
              <div class="row"  *ngFor="let recipe of recipes">    
                 <!-- <app-recipe-item [recipe]="recipe" (click)="recipeItemClicked(recipe)"></app-recipe-item> -->
                 <a  [routerLink]="[recipe.id]"><app-recipe-item [recipe]="recipe" routerLinkActive="active" style="background: blue;"></app-recipe-item></a>
              </div>
            </div>    
        </div>
    </div>
</div>