<div class="row">  
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h3>Sign in page</h3>
        <hr>      
       <form (ngSubmit)="formSubmitted(f)" #f="ngForm">
  
            <div class="form-group">
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" name="email" required ngModel class="form-control">
                  </mat-form-field>
           </div>
            
            
            <div class="form-group">
              <mat-form-field>
                  <input type="password" matInput placeholder="Password" name="password" id="password" required ngModel class="form-control">
                </mat-form-field>
            </div>

            <p *ngIf="logInError" class="help-block">User credentials not valid</p>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign In</button>
        </form>
    </div>
  </div>