<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="formSubmitted(form)" #form="ngForm">
      
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" required ngModel #name="ngModel">
          <p class="help-block" *ngIf="!name.valid && name.touched">Name is required</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" required value="1" min="1" ngModel #amount="ngModel">
          <p class="help-block" *ngIf="!amount.valid && amount.touched">Amount is required, min value 1</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="button" type="submit" [disabled]="!form.valid" *ngIf="!editMode">Add</button>
          <button class="btn btn-success" type="button" (click)="itemUpdated(form)" [disabled]="!form.valid" *ngIf="editMode">Update</button>

          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>

    </form>
  </div>
</div>
